*.a
*.bz2
*.def
*.dll
*.exe
*.exp
*.gz
*.idb
*.in
*.la
*.lib
*.lo
*.log
*.manifest
*.o
*.obj
*.out
*.swp
*.trs
*~
.deps
.libs
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
src/lib/libmycms.pc
src/lib/mycms-all.exports
src/tool/mycms-tool
stamp-h1
test-*
